<div class="side-bar">
  <div class="section" (click)="toggleSection('about')">
    <h3>About</h3>
    <div class="subtitles" *ngIf="sections.about">
      <a (click)="selectContent('Introduction')">Introduction</a>
      <a (click)="selectContent('about2')">API Key</a>
    </div>
  </div>
  <div class="section" (click)="toggleSection('rest')">
    <h3>REST</h3>
    <div class="subtitles" *ngIf="sections.rest">
      <a (click)="selectContent('rest1')">Artists</a>
      <a (click)="selectContent('rest2')">Albumes</a>
      <a (click)="selectContent('rest3')">Tracks</a>
    </div>
  </div>
  <div class="section" (click)="toggleSection('graphql')">
    <h3>GraphQL</h3>
    <div class="subtitles" *ngIf="sections.graphql">
      <a (click)="selectContent('graphql1')">GraphQL 1</a>
      <a (click)="selectContent('graphql2')">GraphQL 2</a>
    </div>
  </div>
  <div class="section" (click)="toggleSection('resources')">
    <h3>Resources</h3>
    <div class="subtitles" *ngIf="sections.resources">
      <a (click)="selectContent('resources1')">Postman files</a>
    </div>
  </div>
</div>
