.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  width: 100%;

  .api-key-form {
    max-width: 600px;
    width: 100%;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #191a1a;

    h2 {
      text-align: center;
      margin-bottom: 20px;
    }

    .form-group {
      margin-bottom: 15px;

      label {
        display: block;
        margin-bottom: 5px;
      }

      input, textarea {
        background-color: #191a1a;
        width: 96%;
        padding: 8px;
        border: 1px solid #ccc;
        color: white;
        border-radius: 4px;
      }

      textarea {
        resize: vertical;
      }
    }

    button {
      display: block;
      width: 100%;
      padding: 10px;
      background-color: #ffffff;
      color: black;
      border: none;
      border-radius: 4px;
      cursor: pointer;

      &:disabled {
        background-color: #ccc;
      }
    }
  }
}
