nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.main {
  margin-top: 60px;
  margin-left: 250px;
  display: flex;

  aside {
    border-right: 2px solid #ccc;
    position: fixed;
    top: 60px;
    left: 0;
    width: 250px;
    height: calc(100% - 60px);
  }

  .content {
    background-color: #000200;
    flex-grow: 1;
    min-height: calc(100vh - 60px);
  }
}
